<section id="about" class="about sect-pt4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 box-shadow-full p-5">
        <div class="row">
          <h2 class="about-title position-relative mb-5 text-center">About Us
            <div class="line"></div>
          </h2>
          <div class="col-md-6">
            <div class="row">
              <img class="rounded" src="/assets/image/room.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <p>
              Hoteliers since 1897, Pascal has travelled the world in search of the most fascinating destinations
              without ever forgetting the finest traditions of its European heritage. With heritage hotels, luxury
              holiday resorts, business and spa hotels around the world, every Pascal hotel is unique, designed for
              guests who value five-star holidays and luxury getaways.
            </p>
            <p>
              In an industry dominated by consolidation, Pascal is proud to be Europe's oldest luxury hotel group.

              Our carefully curated collection comprises historic landmark properties, iconic city hotels, outstanding
              resorts, and prestigious residences. Each one is imbued with the quality guests have come to expect from
              Pascal while embracing the cultural traditions of its location.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>