section {
    min-height: 100vh;
    padding: 100px;
}

.btn {
    background-color: #FFD93D;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.btn:hover {
    border: 2px solid #fbce18;
    background-color: #fbce18;
    border-radius: 50px;
}