<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Service</h2>
        <p>We give you our best service</p>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <i class="bi bi-heart-fill"></i>
              <div class="service-content">
                <h2 class="pt-3">Sertifikasi CHSE</h2>
                <p>
                  Bersih, Sehat, Aman dan Ramah Lingkungan oleh Kemenparekraf
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <i class="bi bi-shield-fill-check"></i>
              <div class="service-content">
                <h2 class="pt-3">Guardian Care</h2>
                <p>
                  We care for the safety and well-being of all our guests and associates
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <i class="bi bi-star-fill"></i>
              <div class="service-content">
                <h2 class="pt-3">Harga Terbaik</h2>
                <p>
                  Dapatkan lebih banyak keuntungan saat Anda memesan langsung
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <i class="bi bi-chat-left-text-fill"></i>
              <div class="service-content">
                <h2 class="pt-3">Ulasan Tamu</h2>
                <p>
                  Pendapat tamu hotel tentang Pascal Hotel yang sudah tersebar di seluruh dunia
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>