<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div>
          <h3>Contact Us
            <div class="line"></div>
          </h3>
          <div>
            <ul class="d-flex list-unstyled">
            <li><i class="bi bi-envelope" style="font-size: 20px;"></i><a href="mailto:contact@pascal-hotel.com"> contact@pascal-hotel.com</a></li>
          </ul>
            <ul class="d-flex gap-3 list-unstyled">
              <li><a href="#"><i class="bi bi-facebook" style="font-size: 30px;"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter" style="font-size: 30px;"></i></a></li>
              <li><a href="#"><i class="bi bi-instagram" style="font-size: 30px;"></i></a></li>
              <li><a href="#"><i class="bi bi-youtube" style="font-size: 30px;"></i></a></li>
              <li><a href="#"><i class="bi bi-linkedin" style="font-size: 30px;"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
        <div class="">
          <h4>Quick Link
            <div class="line"></div>
          </h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Home</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">About Us</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Service</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Service
            <div class="line"></div>
          </h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Marketing</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Advertising</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Booking</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Collaborate</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Newsletter
            <div class="line"></div>
          </h4>
          <div>
            <label for="Newsletter" class="form-label">Subscribe To Our Newsletter</label>
            <input type="text" class="form-control" Placeholder="Enter Your Email">
            <button class="btn mt-3">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center mt-3">
      <div class="copyright">
        <p>Developed and maintained by <a href="#" target="_blank">Pascal Hotel</a></p>
      </div>
    </div>
  </div>
</footer>