<section id="facilities" class="facilities">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>facilities</h2>
        <p>We give you our best facilities</p>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="card-body">
            <div class="facilities-box">
              <i class="bi bi-hospital-fill"></i>
              <div class="facilities-content">
                <p>
                  695 international rooms and suites
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="card-body">
            <div class="facilities-box">
              <i class="bi bi-water"></i>
              <div class="facilities-content">
                <p>
                  Outdoor free-form swimming pool
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="card-body">
            <div class="facilities-box">
              <i class="bi bi-cup-straw"></i>
              <div class="facilities-content">
                <p>
                  Restaurants, bar and lounge
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="card-body">
            <div class="facilities-box">
              <i class="bi bi-unity"></i>
              <div class="facilities-content">
                <p>
                  Club, Leisure, Sport Facilities
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>For Your Pleasure</h3>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="d-flex card-body card-body-culinary justify-content-center">
            <div class="pleasure-content">
              <div class="pleasure-content-text">
                <h1 class="px-3 py-2">Culinary Journey</h1>
              </div>
              <button class="btn" routerLink="#">Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="d-flex card-body card-body-relax justify-content-center">
            <div class="pleasure-content">
              <div class="pleasure-content-text">
                <h1 class="px-3 py-2">Relax & Rejuvinate</h1>
              </div>
              <button class="btn" routerLink="#">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Your Experience</h3>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="d-flex card-body card-body-club justify-content-center">
            <div class="experience-content">
              <div class="experience-content-text">
                <h4 class="px-3 py-2">Discover Club Lounge</h4>
              </div>
              <button class="btn" routerLink="#">Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="d-flex card-body card-body-klub justify-content-center">
            <div class="experience-content">
              <div class="experience-content-text">
                <h4 class="px-3 py-2">Klub & Spa Borobudur</h4>
              </div>
              <button class="btn" routerLink="#">Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card facilities-card">
          <div class="d-flex card-body card-body-sport justify-content-center">
            <div class="experience-content">
              <div class="experience-content-text">
                <h4 class="px-3 py-2">Sport Facilities</h4>
              </div>
              <button class="btn" routerLink="#">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>